<?xml version="1.0" encoding="UTF-8"?>
<!--
*  Copyright 2022 G. Matthew Heitker
*
*  Licensed under the Apache License, Version 2.0 (the "License");
*  you may not use this file except in compliance with the License.
*  You may obtain a copy of the License at
*
*      http://www.apache.org/licenses/LICENSE-2.0
*
*  Unless required by applicable law or agreed to in writing, software
*  distributed under the License is distributed on an "AS IS" BASIS,
*  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
*  See the License for the specific language governing permissions and
*  limitations under the License.
*
*
-->
<Configuration status="WARN"
           xmlns="http://logging.apache.org/log4j/2.0/config"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config
           https://raw.githubusercontent.com/apache/logging-log4j2/master/log4j-core/src/main/resources/Log4j-config.xsd">
        <Properties>
                <Property name="log_EXCEPTION_CONVERSION_WORD">%xwEx</Property>
                <Property name="log_LEVEL_PATTERN">%5p</Property>
                <Property name="log_DATEFORMAT_PATTERN">yyyy-MM-dd HH:mm:ss.SSS</Property>
                <Property name="CONSOLE_log_PATTERN">%clr{%d{${sys:log_DATEFORMAT_PATTERN}}}{faint} %clr{${sys:log_LEVEL_PATTERN}} %clr{%pid}{magenta} %clr{---}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint} %m%n${sys:log_EXCEPTION_CONVERSION_WORD}</Property>
                <Property name="FILE_log_PATTERN">%d{${log_DATEFORMAT_PATTERN}} ${log_LEVEL_PATTERN} %pid --- [%t] %-40.40c{1.} : %m%n${sys:log_EXCEPTION_CONVERSION_WORD}</Property>
        </Properties>
        <Appenders>
                <Console name="Console" target="SYSTEM_ERR" follow="true">
                        <PatternLayout pattern="${sys:CONSOLE_log_PATTERN}" />
                </Console>
        </Appenders>
	<Loggers>
		<Logger name="org.springframework" level="info" />
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>
